body {
    background-color: black;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    font-size: 45px;
}

.img {
    width: 75%;
    height: auto;
}

a {
    color: white;
    text-decoration: none;
    /* display: flex; */
    text-align: center;
    border: 2px solid white;
    border-radius: 8px;
    margin: 7px;
    padding: 12px;
}

a:hover {
    background-color: #fff;
    color: #000;
}
